<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="dynamic-flex">
    <div class="left-flex">
      test
    </div>
    <div class="middle-flex">
      <div class="post-flex">
        <p>Home</p>
        <textarea name="input" id="input" cols="30" rows="5"></textarea>
        <div class="tweet-flex">
          <button id="tweetButton" class="tweetButton">Tweet</button>
        </div>
      </div>
      <div class="tweets" id="tweets">for all the money</div>
    </div>
    <div class="right-flex">test</div>
    <script src="tweetDisplayer.js"></script>
  </div>
</body>
</html>