<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.cdnfonts.com/css/chirp-2?styles=98341,98340,98338" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="dynamic-flex">
    <div class="left-flex">
      <a class="twitter-timeline" data-width="360" data-dnt="true" data-theme="dark" href="https://twitter.com/TwitterBlue?ref_src=twsrc%5Etfw">Tweets by TwitterBlue</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
    <div class="middle-flex">
      <div class="post-flex">
        <p>Home</p>
        <textarea name="input" id="input" cols="30" rows="5"></textarea>
        <div class="tweet-flex">
          <button id="tweetButton" class="tweetButton">Tweet</button>
        </div>
      </div>
      <div class="tweets" id="tweets"></div>
    </div>
    <div class="right-flex">
      <a class="twitter-timeline" data-width="360" data-dnt="true" data-theme="dark" href="https://twitter.com/elonmusk?ref_src=twsrc%5Etfw">Tweets by elonmusk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
    <script src="tweetDisplayer.js"></script>
  </div>
</body>
</html>