<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="dynamic-flex">
    <div class="left-flex">
      test
    </div>
    <div class="middle-flex">
      <div class="post-flex">
        <p>Home</p>
        <div class="form-flex">
          <form id="form" action="">
            <input id="input" autocomplete="off" /><button>Send</button>
          </form>
        </div>
        <div class="tweet-flex">
          <button>Tweet</button>
        </div>
      </div>
    </div>
    <div class="right-flex">test</div>
  </div>
</body>
</html>